.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding-top: 34px;
}

.profile__container {
  display: flex;
  flex-direction: column;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__left {
  display: flex;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  height: 16px;
  opacity: 0.7;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  width: 149px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #000;
  border: none;
  cursor: pointer;
  margin-top: auto;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  white-space: nowrap;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }
  .profile__left {
    flex-direction: column;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
