.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__title {
  margin: 0;
  max-width: 350px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-button {
  background-image: url(../images/deletebutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.card__delete-button:hover {
  background-color: #ff7676;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-repeat: no-repeat;
  background-image: url(../images/likebutton.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  
}
